@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Concert+One&family=Lilita+One&family=Oswald:wght@200..700&family=Sixtyfour+Convergence&display=swap');

.container .title {
    font-family: "Bokor", system-ui;
    color: white;
    font-size: 5rem;
}

.container {
    padding: 50px 0;
    width: 90%;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%); /* Membuat efek miring */
    min-height: 100vh;
    max-height: max-content;
}

.container .wrapping {
    width: 90%;
    height: 90%;
}

.bgImg {
    padding: 10px;
    height: 130px;
    width: 130px;
    filter: saturate(0);
    transition: .3s;
    border-radius: 30%;
}

.bgImg:hover {
    filter: saturate(1);
    filter: drop-shadow(0 0 10px white);
}
